<div class="container">
  <div class="row-fluid">
        <%- model_class = Bio -%>

    <div class="page">
      <div id="fundo_dois">
        <div id="rodape">
        <h1>
      <p align= "center">Bio</p>
      </div>
    </h1>
    </div>
    <hr width=1170>
    </div>
    <table class="table">
      
      <tbody>
        <% @bios.each do |bio| %>
        <tr>
          
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




<div class="span4 centro"  id="fundo_aplicar">
  <a href="/schools"><%= image_tag 'tiago7.jpg', height: 250, width: 350 %></a>
  </div>

 

<p align="justify">
Tiago Belém é hoje um músico de destaque no meio musical. Este destaque se 

deu por seu talento precoce, por sua dedicação e seu profissionalismo, bem 

como por acompanhar e dividir os palcos com grandes artistas consagrados da 

música brasileira, tais como:

Rosana, Peninha, Paulinho Mosca, Marlon & Maicon, Cindy Black (seriado 

Antônia - Rede Globo), As Leoas (Programa Gilberto Barros- BAND), Léo Maia, 

Netinho (Negritude Jr.) Cláudio Zoli, Simoninha, Beto Barbosa, Wilson Sideral, 

Pedro La Colina, Gilmelândia (Banda beijo), Liah Soares (The Voice Brasil), entre 

outros.
</p>
<p align="justify">
Tiago Belém é um musico com muita experiência em diversos estilos musicais, 

acompanhou e gravou com diversos cantores e bandas regionais e nacionais 

como:

Orquestra Asafe (PA), Orquestra do Templo Central da Assembléia de Deus(PA), 

Banda Sevilha(PA), Lú Guedes(PA), Augusto Hijo(PA), Rafael Noleto(PA), Banda 

Matrakaloka(SP), Banda Luna Nueva(SP), Angélica Sansone(Bar Brahma - 

SP), Jurema Paes(Baile do Baleiro - SP), Keila Vilaça(Ídolos 2007 - SBT), Carla 

Maués (Banda Zoukaliente - SP), Larissa Cavalcante(SP), Tchelo Hit(SC) , 

Sandro & Fabiano(PA), Cacau Novaes(PA), Gigi Furtado(PA), Wiliam Cezar & 

Christiano(PA), Breno & Mackoy(SP), Kaio & Marcelo(PA), Adriana Cavalcante 

(PA), banda making off(PA), André & Tiago(PA), Joba (Pa), orquetra SAM BAND 

(EMUFPA),  Lucinha Bastos(Pa), Nilson chaves(Pa) Simone Almeida(PA), Pastor 

Aziel Neves(PA), Rogério Brito(PA), Ângela Carlo(PA), Daise Adário(PA), Pastor 

Jonas Villar(SP), Larissa White(AUSTRÁLIA), Gigi Furtado(PA), Zarabatana 

jazz band(PA), Alba Maria(PA), Daniel Lima(PA), Grupo Celebrai(PA), Pedrinho 

Calado(PA), Nathalia Matos(PA), Kayo Reiz(PA), Lídia Gonçalves(PA), Olivar 

Barreto(PA), Patrícia Queiroz(PA), Pedrinho Calado(PA), entre outros. 
</p>
<p align="justify">
Em paralelo a esses compromissos como "Side Man", não deixou de tocar com 

grandes músicos do cenário instrumental, tais como:

Celso Pixinga (solo), Gileno Foinquinos (Bocato), Ney conceição (solo), Claudio 

machado (EM&T SP), Trio Manari, Esdras de Souza, Príamo Brandão, Harley 

Bichara, Jó Ribeiro, Adelbert Carneiro, Cassius Calazans (Léo Maia), Jonas 

Dantas, Bruno Migoto (Soundscape), Ximba Uchiama (três de paus), Denis 

Lisboa (Ex-músico Carlinhos Brow), Marcelo Costa (ex-músico Banda Beijo), 

Orlando Bolão (Cheiro de Amor), Pit Cajoneiro, Javier Ibanez, Pio (Alexandre

Pires), Deny Conceição (Natiruts), Augusto Babu Castro, Bráulio Araújo (RN),

MG Calibre, Alcir Meireles, Beto Meireles, Marcus Puff, Jacinto Kawage, Delclei

Machado, Ziza Padilha, Luiz Pardal, Davi Amorin, angelo barros, Lenílson

Albuquerque, Elias Coltinho, Walter Almeida, entre outros. 

Tiago Belém sempre tocou em diversos eventos regionais e nacionais ligados a 

música em geral como:

Festival Internacional de Música do Pará, Comemoração dos 90 anos da 

assembléia de Deus em Belém, Festa da Música 2005 SP (Souza Lima & 

Berklee), Música na Favela (favela de Paraisópolis - SP), Rodeio Internacional de 

Jaguariúna,  Corrida de São Paulo, Expomusic 2007 (SP), 9º FECAN (Oriximiná - 

PA), Festa do ritmo (Pa), Festival Baixo Brasil, Altamira Gospel (Altamira - PA), 

Aniversario de Belem 397 anos, entre outros. 
</p>
<p align="justify">
Paralelo a todos esses trabalhos, sempre se dedicou ao ensino musical, ou seja, 

a estudar e a ministrar aulas. Realizou e concluiu o curso de Bateria do Instituto

Carlos Gomes, estudou na EM&T – SP. Estudou com vários músicos de renome

nacional e internacional, tais como:

Mariano Primo (Amazônia Jazz Band), Ricardo Aquino (OSTP), Eder Luís 

(Bateras Beat – São Paulo), Douglas Las Casas (solo), Christiano Rocha (EM&T - 

SP e músico da cantora Eugênia Melo e Castro), Daniel Baeder (Cirque Du Solei), 

Dom Moio (EUA), Kiko Freitas (João Bosco), Maurício Leite.

Workshops com Vera Figueiredo (Batuka - SP), Aquiles Priester, Cuca Teixeira, 

Bob White (EUA), Alaor Neves, Carlos Ezequieu, Albino Infantozzi, Cláudio 

Infante, Fabiano Manhas, entre outros.
</p>
<p align="justify">
Ministrou aulas, workhops e workshows em diversas escolas em Belém (PA) e 

em São Paulo (SP) e passou a ser visto como sinônimo de responsabilidade e 

competência tendo seu trabalho reconhecido em muitas cidades do brasil.

Atualmente, Tiago Belém possui sua própria Escola de Música (ESPAÇO

MUSICAL) onde ministra aulas particulares, também ministra aulas de 

musicalização infantil em escola regular, continua ministrando workshops,

acompanhando a cantora Liah Soares(The Voice Brasil) , se apresentando com 

seu trio instrumental (toque fino), se apresentando ao lado de Luiz Pardal e 

Jacinto Kawage com o trio (ANDALUZ), se apresentando com a (ZARABATANA 

JAZZ BAND) e atuando como “Side Man”, tocando, ensaiando e gravando com 

diversos artistas, sempre dedicado a ampliar seu conhecimento musical.
</p>