<h1>ENDORSEE</h1>
<h1>Tiago Belém é Endorsee</h1>
<table>
  <tr>
    <th>Link</th>
  </tr>

<% @tiago_endorsees.each do |tiago_endorsee| %>
  <tr>
    <td> <a href="<%= tiago_endorsee.link %>"><%= tiago_endorsee.link %></a> </td>
  </tr>
<% end %>
</table>