
<div class="row">
  <div class="span12">
    <h1 align="center">Vídeos</h1><hr>
    <div class="row">
      <%for i in (0...@movies.count).step(2) %>
        <div class="span6"><%= raw(@movies[i].link) %></div>
        <div class="span6">
          <% if i < (@movies.count-1) %>
          <%= raw(@movies[i+1].link) %>
          <% end %>
        </div>
      <%end%>
    </div>
  </div>
</div>