<h1>Tiago Belém</h1>
<%= link_to 'Bio', :controller => :bios, :action => :index%></br>
<%= link_to 'Agenda', :controller => :schedules, :action => :index %></br>
<%= link_to 'Endorsee', :controller => :endorsees, :action => :index %>