		<div class="container">	
			<%= render 'layouts/carousel' %>
		</div>
		<div class="container marketing descer">
			<!--Três colunas abaixo do carousel-->
			<div class="row-fluid">
				<div class="span4 centro" >
					<a style="padding-left: 80px;" href="http://localhost:3000/"><%= image_tag 'tiago6.jpg', height: 400, width: 450 %> </a>
				</div>
				<div class="span8 centro">
					<a href="/schools"><%= image_tag 'em.jpg', height: 450, width: 450 %></a>
				</div>
			</div>
		</div>

		<footer>
			<div style="widht: 100%; height:2px; background-color:#3C3C3C;">
				<hr style="display: none;">
			</div>

			<div class="container span9">
				<p style="padding-top:10px;">&copy; Company 2013 - Tiago Belém Oficial</p>
			</div>

			<div class ="span3 pull-right" style="margin-top:5px;"><p>Desenvolvido por:<br/>Rodrigo Andrade<br/>Daniel Borges Leal<br/>Rafael Ribeiro</p></div>	
		</footer>
