	<style type="text/css">
	.centro {
		text-align: center;
	}
	.descer{
		padding-top: 10%;
		padding-bottom: 10%;
	}
	</style>
	
	

	<!---->
	<div class="container">	
		<div class="row">

			<div class="span6">
				<img src="../assets/t.jpg" class="img-polaroid" alt="Slider" />
			</div>
			<div class="span6">
				<img src="../assets/t2.jpg" class="img-polaroid" alt="Slider" />
			</div>
			<div class="span6">
				<img src="../assets/t3.jpg" class="img-polaroid" alt="Slider" />
			</div>
			<div class="span6">
				<img src="../assets/t4.jpg" class="img-polaroid" alt="Slider" />
			</div>

		</div>
	</div>

	<!-- Example row of columns -->


	<div class="container marketing descer">
		<!--Três colunas abaixo do carousel-->
		<div class="row">
			<div class="span4 centro">
				<%= image_tag 't7.2.png', height: 250, width: 250 %>
			</div>
			<div class="span4 centro">
				<h2>Tópico</h2>
				<p>
					<a class="btn" href="#">Detalhes »</a>
				</p>
			</div>
		</div>
	</div>

	<button class="btn"><%= link_to 'Bio', :controller => :bios, :action => :index%></br>
	</button>
	<button class="btn"><%= link_to 'Agenda', :controller => :schedules, :action => :index %></br>
	</button>
	<button class="btn"><%= link_to 'Endorsee', :controller => :endorsees, :action => :index %>
	</button>
