	<style type="text/css">
	.centro {
		text-align: center;
	}
	</style>
<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit row-padded">
	<h1>Tiago Belém</h1>
<!-- 	<img src="/assets/tiago.jpg"> -->
	<p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
	</div>
	
	<div class="container marketing">
		<!--Três colunas abaixo do carousel-->
		<div class="row">
			<div class="span4 centro">
				<h2>Tópico</h2>
				<p>
					<a class="btn" href="#">Detalhes »</a>
				</p>
			</div>
			<div class="span4 centro">
				<h2>Tópico</h2>
				<p>
					<a class="btn" href="#">Detalhes »</a>
				</p>
			</div>
			<div class="span4 centro">
				<h2>Tópico</h2>
				<p>
					<a class="btn" href="#">Detalhes »</a>
				</p>
			</div>
		</div>
	</div>
	
	<!-- Example row of columns -->

<button class="btn"><%= link_to 'Bio', :controller => :bios, :action => :index%></br>
</button>
<button class="btn"><%= link_to 'Agenda', :controller => :schedules, :action => :index %></br>
</button>
<button class="btn"><%= link_to 'Endorsee', :controller => :endorsees, :action => :index %>
</button>
