<%- model_class = Photo -%>
<div class="page-header">
	<div id="fundo_dois">
  <h1>
  	<p align= "center"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %>
  	</p>
  </h1>
</div>
</div>
<div id="fundo_novo">
<%= render :partial => 'form' %>
</div>