#fundo {
  text-align: left;
  height:100%;
  width: 90%;
  margin: 2% 2% 2% 3%;
  background-color: rgba(255,255,255,0.2);
  padding: 2%;
  box-shadow: #333 0 0px 6px;
  border-radius: 3px;
}

#fundo_dois{
  text-align: center;
  height:90%;
  width: 90%;
  margin: 2% 2% 2% 3%;
  background-color: rgba(255,255,255,0.1);
  padding: 2%;
  box-shadow: #AEEEEE 0 0px 50px;
  border-radius: 50px;
}

#fundo_novo{
  text-align: left;
  height:90%;
  width: 90%;
  margin: 2% 2% 2% 3%;
  background-color: rgba(255,255,255,0.1);
  padding: 2%;
  box-shadow: #AEEEEE 0 0px 15px;
  border-radius: 15px;
}
#fundo_tres{
  text-align: left;
  height:90%;
  width: 90%;
  margin: 2% 2% 2% 3%;
  background-color: rgba(255,255,255,0.1);
  padding: 2%;
  box-shadow: #AEEEEE 0 0px 15px;
  border-radius: 15px;;
}

#fundo_dois img{
  float: left;
  width: 100px;
  height: 100px;
}

#fundo_aplicar img{
  border : 2px solid #696969

}

#fundo_aplicar_dois img{
  width: 500px;
  height: 562px; 
  border: 2px solid #696969
  
}

#fundo_aplicar_tres img{
  width: 246px;
  height: 200px; 
  border: 2px solid #696969

}

#fundo_aplicar_quatro img{
  width: 230px;
  height: 150px; 
  
}

#fundo_dois h3{
  margin-top: 0px;
  color: #000000;
  text-shadow: #333 2px 2px 2px;
}


#fundo_font h3{
font-family: verdana, helvetica, serif;
font-family: sans-serif;

}
#fundo_dois ul {
  float: left;
  display: block;
  position: relative;
  height:!important;
  width: 45%; 
  padding: 10px;
  background-color: rgba(240,240,200,0.6);
  border: 1px solid #333333;
  box-shadow: #333 0 0px 6px; 
  border-radius: 10px;
}

#fundo_dois ul:hover{
    background-color: rgba(240,240,200,1.0);
  }

#rodape{
  font-family: "georgia", "Lucida Sans", Verdana, Sans-Serif;
  color:#FFFFFF;
}

#rodape_fundo{
background:url("../assets/rodape.PNG") ;
bottom:0;
height:101px;
left:0;
width:100%;
margin-right: 0px;
margin-left: 0px;
position: relative;


}

